  <div class="wrapper">
    <div class="Side-Bar col-md-2">
        <ul class="navbar-verticall">
          <li [routerLinkActive]='["link-active"]'><a [routerLink]='["/add/add-classes"]'>Classes</a></li>
          <li [routerLinkActive]='["link-active"]'><a [routerLink]='["/add/add-courses"]'>Course</a></li>
          <li [routerLinkActive]='["link-active"]'><a [routerLink]='["/add/add-teachers"]'>Add Teachers</a></li>
          <li [routerLinkActive]='["link-active"]'><a [routerLink]='["/add/list-teachers"]'>Teachers</a></li>
         
          <li><a>Students</a></li>
        </ul>  
      </div>
      <div class="col-md-10" style="padding-left: 0 ; padding-right:0;overflow:visible;">
        <router-outlet></router-outlet>
      </div>
  </div>