<table  class="main-navbar">
  <tr>
    <td style="width: 20%">
      <b class="header-name">My School</b> 
    </td>
    <td>
      <ul class="Navbar" *ngIf="ShowMenu" >
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/add/add-classes"]'>Add </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/fetch-data"]'>Examinations</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/fdgdfsg"]'>Results</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/dsfg"]'>Attendence</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/teachers-timetable"]'>Time Table</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/add/list-classes"]'>Reports</a>
        </li>
        <li>
            <a (click)="logout()">Log out</a>
        </li>
      </ul>
    </td>
    <td align="right">
      <ul class="Navbar right"  *ngIf="!ShowMenu">
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/registration"]'>Register</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/login"]'>login</a>
        </li>
      </ul>
    </td>
  </tr>
  </table>
