<h4 class="text-orng">Date Sheet for Examination <strong>{{DateSheetName}}</strong></h4>
<hr class="line-orng">
<div style="padding:10px;padding-top: 0% !important;border-top:none ;">
    <input type="submit" class="btn-orange" (click)="ClearDateSheet()" value="Clear & Create New" style="float: right;;margin:  0% 0% 1% 0% !important;" />

    <table border="1" class="Table-orng onPointer" style="border-top:none;border-color:coral">
        <thead>
            <tr>
                <td id="headerrow" >
                    <strong style="float: left;">MY SCHOOL</strong><strong style="float: right;">Date: {{Today}}</strong> 
                </td>
            </tr>
              <td>
                Dates
              </td>
           <td  *ngFor = "let class of Classes">
                <strong>{{class.name}}th {{class.section | uppercase}}</strong>    
           </td>
        </thead>
        <tbody>
            <tr *ngFor="let item of Dates" id="datesheet">
                <td style="font-weight:900;">
                      {{item.date | date:'dd-MM-yyyy'}}
                </td>                
                <td *ngFor="let class of Classes" (click) = "SetSubDetails(item.date  , class)" title="set paper for {{class.name}}th" >
                    <div *ngFor="let paper of DateSheet">                                          
                        <div *ngIf="class.id === paper.class.id && (item.date | date:'dd-MM-yyyy') === paper.date" >                            
                            <div >
                                <p>subject</p>: 
                                <strong style="font-size: 13px;" *ngIf="paper.subject; else noval">
                                   {{paper.subject.name | uppercase}}
                                </strong>
                                <br/>
                                teacher:
                                 <strong style="font-size: 10px;" > {{paper.teacher.name | uppercase}}</strong>
                                <br/>
                                <ng-template #noval>
                                     <strong style="color: gray;font-style: italic;font-size:bold;" >deleted</strong> 
                                </ng-template>
                            </div>                            
                        </div>
                    </div>   
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="this.Dates.length === 0" >
        <strong  style="text-align: center; background-color: white !important;color: coral;display: block;border: coral solid 1px;padding: 1%; " class="text-orng" >
              Select dates from above to create datesheet
        </strong>   
    </div>
        <ng-template #FormTemplate>
        <div>
            <i class="fa fa-close" style="float: right;text-align: right" aria-hidden="true" (click)="modalRef.hide()" ></i>
        </div>
            <div style="border-bottom: solid 1px">
                <p class="text-center" style="display: block;color: coral;margin: 0% 0% 0% 0% !important;" >Set Paper for <strong style="background-color: white;color: coral;" > {{PaperClass.name}}th </strong> on <strong style="background-color: white;color: coral;" > {{PaperDate}} </strong> </p>
                <P class="text-center" style="display: block;color: coral;margin: 0% 0% 0% 0% !important;"  >Date sheet from : {{StartDate | date:'dd-MM-yyyy' }} to : {{EndDate | date:'dd-MM-yyyy'}} </P>
            </div>
             <p class="text-center" style="display: block;color: coral;margin: 0% 0% 0% 0% !important;" > {{DateSheetName}} </p> 
            <div class="modal-body" >
                    <form [formGroup]="Form" >
                        <input formControlName="ID"  type="hidden" />
                        <input formControlName="Class"  type="hidden" />
                        <input formControlName="Date"  type="hidden" />
                        <div style="display: block;padding-left: 80px;padding-right: 80px">
                            <select  style="width: 100%;border-radius: 3px" class="input-small" formControlName = "Subject" >
                                <option value ="" > 
                                     Select Subject
                                  </option>
                                <option *ngFor="let course of courses" [value] ="course.id" > 
                                  {{course.name| uppercase}}
                                </option>
                              </select>                        
                        </div>
                        <br/>
                        <div style="display: block;padding-left: 80px;padding-right: 80px">
                            <select  style="width: 100%;border-radius: 3px" class="input-small" formControlName = "Teacher" >
                                <option value ="" > 
                                   Select Teacher     
                                </option>
                                <option *ngFor="let teacher of teachers" [value] ="teacher.id" > 
                                  {{teacher.name| uppercase}}
                                </option>
                              </select>                        
                        </div>
                       
                        <div style="display: block" >
                            <button [disabled]="Form.invalid"  type="submit" style="width: 62%" class="btn-orange" (click)="onSubmit()" >Add</button>        
                        </div>   
                    </form>
            </div>
          </ng-template>
</div>
