
<h6 class="text-orng" style="margin-top: 4%;">Fill up the following</h6>
<div style="margin-top: 0px !important;padding-left: 5px;padding-right: 5px;" >
   <form [formGroup]="Form"   >
    <input placeholder="write date sheet name here" formControlName="DateSheetName" type="text" style="margin: 0% 0% 1% 0% !important;display: block;padding: 1%;width: 100% ;" />
    <div style="display: flex ;vertical-align:middle;" >
        <div style="display: flex;justify-content: center;flex-direction: column;align-content: center;">
            <p class="text-orng" style="margin: 0px !important;" >Start:</p>
        </div>
        <input  type="date"  class="input-small" formControlName="StartDate" style="margin: 0px 0px 0px 0px !important;width:30%;"/>
        <div style="display: flex;justify-content: center;flex-direction: column;align-content: center;">
            <p class="text-orng" style="margin: 0px 0px 0px 10px !important;" >End:</p>
        </div>
        <input type="date" formControlName="EndDate"  style="margin-top: 0px !important;width:30%;margin: 0 !important;" class="input-small"/>
        <input type="submit" class="btn-orange"  (click)="Send()"  [disabled]="Form.invalid" value="Set Dates" style="widows: 400px;margin: 0% 0% 0% 2% !important ;" />       
    </div>
    </form>
  </div>
<div class="err-div">
    <ul class="error">
        <li *ngIf="Form.get('DateSheetName').errors?.required" > Date sheet name is required </li>
        <li *ngIf="Form.get('EndDate').errors?.DateError" > Start date must be less than end date and start also be greater than today's date </li>
     </ul>
</div>

<style>
    strong , h5
    {
        margin: 0%;
        vertical-align: middle;
    }
    td
    {
        vertical-align:middle;
        padding: 1% 0% 1% 0% !important ;
    }
    i:hover
    {
        color: black !important;
        background-color:lavenderblush !important;
    }
 </style>
