<h4 class="text-orng">Date Sheet for Examination {{CurrentYear}}</h4>
<hr class="line-orng">
<h6 class="text-orng">Select Dates for Examination</h6>
<div style="margin-top: 0px !important;padding-left: 5px;padding-right: 5px;">
    <input placeholder="write date sheet name here" type="text" [(ngModel)]="DateSheetName" style="margin: 0% 0% 1% 0% !important;display: block;padding: 1%;width: 100% ;" />
    <p class="text-orng" >Start:</p>
    <input  type="date" [(ngModel)]="StartDate"    class="input-small" style="margin: 0px !important;width:30%;margin-left: 1% !important;" required  />
    <p class="text-orng" style="margin-left: 1% !important;">End:</p>
    <input type="date" [(ngModel)]="EndDate"   style="margin-top: 0px !important;width:30%;margin: 0 !important;margin-left: 1% !important;" class="input-small" required />
    <input type="submit" class="btn-orange" (click)="SetDates()" [hidden]="Dates.length" value="Set Dates" [disabled]="DateError" style="width:10%;margin: 0% 0% 0% 2% !important ;" />
    <input type="submit" class="btn-orange" (click)="ClearDateSheet()" value="Clear"  style="width:10%;margin: 0% 0% 0% 2% !important" />
</div>
<div class="err-div">
    <ul class="error">
        <li *ngIf="DateError" > {{DateError}} </li>
     </ul>
</div>
<h5 style="height: 5%;" >
    <strong style="float: left;">MY SCHOOL</strong><strong style="float: right;">Date: {{Today}}</strong> 
</h5> 
<div style="padding:10px;padding-top: 0% !important;border-top:none ;">
    <table border="1" class="Table-orng onPointer" style="border-top:none;border-color:coral">
        <thead>
              <td>
                Dates
              </td>
           <td  *ngFor = "let class of Classes">
                <strong>{{class.name}}th {{class.section | uppercase}}</strong>    
           </td>
        </thead>
        <tbody>
            <tr *ngFor="let item of Dates" id="datesheet">
                <td style="font-weight:900;">
                      {{item.date | date:'dd-MM-yyyy'}}
                </td>
                <td *ngFor="let class of Classes" (click) = "SetSubDetails(item.date  , class)" >
                    <div *ngFor="let paper of DateSheet" >
                        <strong *ngIf="class.id === paper.class.id && (item.date | date:'dd-MM-yyyy') === paper.date " >
                            {{paper.subject.name}}
                            {{paper.teacher.name}}
                        </strong> 
                    </div> 
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="this.Dates.length === 0" >
        <strong  style="text-align: center; background-color: white !important;color: coral;display: block;border: coral solid 1px;padding: 1%; " class="text-orng" >
              Select dates from above to create datesheet
        </strong>   
    </div>
        <ng-template #FormTemplate>
        <div>
            <i style="text-align: right" class="fa fa-close" style="float: right" aria-hidden="true" (click)="modalRef.hide()" ></i>
        </div>
            <div style="border-bottom: solid 1px">
                <p class="text-center" style="display: block;color: coral;margin: 0% 0% 0% 0% !important;" >Set Paper for <strong style="background-color: white;color: coral;" > {{PaperClass.name}}th </strong> on <strong style="background-color: white;color: coral;" > {{PaperDate}} </strong> </p>
                <P class="text-center" style="display: block;color: coral;margin: 0% 0% 0% 0% !important;"  >Date sheet from : {{StartDate | date:'dd-MM-yyyy' }} to : {{EndDate | date:'dd-MM-yyyy'}} </P>
            </div>
             <p class="text-center" style="display: block;color: coral;margin: 0% 0% 0% 0% !important;" > {{DateSheetName}} </p> 
            <div class="modal-body" >
                    <form [formGroup]="Form" >
                        <input formControlName="ID"  type="hidden" />
                        <input formControlName="Class"  type="hidden" />
                        <input formControlName="Date"  type="hidden" />
                        <div style="display: block;padding-left: 80px;padding-right: 80px">
                            <select  style="width: 100%;border-radius: 3px" class="input-small" formControlName = "Subject" >
                                <option value ="" > 
                                     Select Subject
                                  </option>
                                <option *ngFor="let course of courses" [value] ="course.id" > 
                                  {{course.name| uppercase}}
                                </option>
                              </select>                        
                        </div>
                        <br/>
                        <div style="display: block;padding-left: 80px;padding-right: 80px">
                            <select  style="width: 100%;border-radius: 3px" class="input-small" formControlName = "Teacher" >
                                <option value ="" > 
                                   Select Teacher     
                                </option>
                                <option *ngFor="let teacher of teachers" [value] ="teacher.id" > 
                                  {{teacher.name| uppercase}}
                                </option>
                              </select>                        
                        </div>
                       
                        <div style="display: block" >
                            <button [disabled]="Form.invalid"  type="submit" style="width: 62%" class="btn-orange" (click)="onSubmit()" >Add</button>        
                        </div>   
                    </form>
            </div>
          </ng-template>
</div>

<style>
    strong , h5
    {
        background-color: coral;
        color: white;
        margin: 0%;
        vertical-align: middle;
    }
 </style>